# I. Introduction
This notebook is to guide you through the first month of internship when you can only work with your personal computer from home, i.e. no access to intern code / data. The main purpose of this period is to build a state of the art for interpretability and AutoML. During the article reading, you might want to (1) take notes that will be greatly helpful when you write your final report at the end of the internship; (2) test / implement / improve those litterature algorithms using some public dataset. This notebook shows you how to: 
    - load public datasets from financial domains; 
    - explore the datasets and do some necessary data engineering, 
    - apply a ML pipeline on it (where AutoML / HP selection comes in)
    - and interpret the result (where interpretability comes in).

# II. Data
MLBox is a AutoML toolkit that 'focuses' on banking / financial data. Compare to some classical datasets, those data show some specifics: non-numeric features (e.g. names, adresses, ...), time series features (e.g. log, tracking, ...). In the shared dropbox folder, we have collected some similar public datasets, each of which is associated with a .info file that summarizes some essential properties of the dataset. In this section, we use one of them to demonstrate the entire workflow.

In [1]:
Data_dir = './Data/banking-dataset-marketing-targets/' # set dataset directory

In [2]:
# read into the dataset
import os
import pandas as pd

D_tr = pd.read_csv(os.path.join(Data_dir, 'train.csv'))

In [3]:
D_tr.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribed
0,26110,56,admin.,married,unknown,no,1933,no,no,telephone,19,nov,44,2,-1,0,unknown,no
1,40576,31,unknown,married,secondary,no,3,no,no,cellular,20,jul,91,2,-1,0,unknown,no
2,15320,27,services,married,secondary,no,891,yes,no,cellular,18,jul,240,1,-1,0,unknown,no
3,43962,57,management,divorced,tertiary,no,3287,no,no,cellular,22,jun,867,1,84,3,success,yes
4,29842,31,technician,married,secondary,no,119,yes,no,cellular,4,feb,380,1,-1,0,unknown,no

In [4]:
D_tr.shape

(31647, 18)

In [5]:
y_tr = D_tr['subscribed'] # from the info file, we know the target column in 'subscribed'
X_tr = D_tr[[col for col in D_tr.columns if not col in ['ID', 'subscribed']]] # we extract feature columns

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,56,admin.,married,unknown,no,1933,no,no,telephone,19,nov,44,2,-1,0,unknown
1,31,unknown,married,secondary,no,3,no,no,cellular,20,jul,91,2,-1,0,unknown
2,27,services,married,secondary,no,891,yes,no,cellular,18,jul,240,1,-1,0,unknown
3,57,management,divorced,tertiary,no,3287,no,no,cellular,22,jun,867,1,84,3,success
4,31,technician,married,secondary,no,119,yes,no,cellular,4,feb,380,1,-1,0,unknown
5,33,management,single,tertiary,no,0,yes,no,cellular,2,feb,116,3,-1,0,unknown
6,56,retired,married,secondary,no,1044,no,no,telephone,3,jul,353,2,-1,0,unknown
7,50,technician,single,secondary,no,1811,no,no,cellular,8,jun,97,4,-1,0,unknown
8,45,blue-collar,divorced,secondary,no,1951,yes,no,cellular,4,feb,692,1,-1,0,unknown
9,35,admin.,married,secondary,no,1204,no,no,cellular,3,sep,789,2,-1,0,unknown
10,36,services,divorced,secondary,yes,0,no,yes,cellular,15,jul,687,7,-1,0,unknown
11,35,blue-collar,married,secondary,no,-151,yes,no,cellular,5,feb,96,2,-1,0,unknown
12,44,services,married,secondary,no,237,yes,no,cellular,28,jan,212,2,-1,0,unknown
13,39,management,single,secondary,no,1877,yes,no,unknown,6,may,185,1,-1,0,unknown
14,43,blue-collar,married,secondary,no,960,yes,no,unknown,15,may,436,1,-1,0,unknown
15,41,services,single,secondary,no,260,no,no,unknown,6,jun,75,1,-1,0,unknown
16,53,technician,married,secondary,no,719,yes,no,unknown,14,may,230,1,-1,0,unknown
17,64,management,married,tertiary,no,6251,no,no,telephone,5,feb,125,7,-1,0,unknown
18,44,blue-collar,married,primary,no,4031,yes,no,cellular,7,may,983,4,-1,0,unknown
19,48,blue-collar,divorced,secondary,no,501,yes,no,cellular,15,may,12,5,-1,0,unknown
20,60,management,married,tertiary,no,328,yes,no,unknown,20,may,72,5,-1,0,unknown
21,29,admin.,single,tertiary,no,507,yes,no,unknown,20,jun,20,33,-1,0,unknown
22,30,admin.,divorced,secondary,no,78,yes,no,cellular,24,jul,132,1,-1,0,unknown
23,39,management,married,tertiary,no,285,yes,no,cellular,15,jul,838,3,-1,0,unknown
24,42,admin.,single,secondary,no,684,no,no,cellular,4,jun,207,1,-1,0,unknown
25,31,management,married,tertiary,no,4720,yes,no,cellular,13,aug,460,2,-1,0,unknown
26,60,retired,married,primary,no,17413,no,no,unknown,9,jun,200,1,-1,0,unknown
27,33,services,married,secondary,no,184,yes,no,unknown,13,may,109,4,-1,0,unknown
28,45,technician,married,secondary,no,858,no,no,cellular,5,feb,617,4,251,2,failure
29,53,housemaid,single,primary,no,80,no,no,cellular,5,feb,230,2,-1,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31617,28,technician,married,secondary,no,880,yes,no,unknown,26,may,188,1,-1,0,unknown
31618,21,blue-collar,single,secondary,yes,-59,yes,yes,unknown,4,jun,83,1,-1,0,unknown
31619,59,retired,married,unknown,no,0,no,no,unknown,8,may,425,6,-1,0,unknown
31620,45,management,married,tertiary,no,726,yes,yes,cellular,18,jul,199,1,-1,0,unknown
31621,32,services,divorced,secondary,no,130,yes,no,cellular,30,jan,194,3,-1,0,unknown
31622,79,retired,divorced,primary,no,2787,no,no,telephone,13,jul,617,1,377,1,success
31623,57,technician,single,secondary,no,104,no,no,cellular,21,aug,297,2,-1,0,unknown
31624,50,management,married,tertiary,no,5108,yes,no,cellular,19,jun,140,2,-1,0,unknown
31625,56,entrepreneur,married,tertiary,no,8741,yes,no,unknown,20,may,318,3,-1,0,unknown
31626,57,retired,married,primary,no,70,yes,yes,unknown,16,may,186,5,-1,0,unknown
31627,35,services,single,secondary,no,-2,no,no,unknown,6,jun,15,1,-1,0,unknown
31628,43,unemployed,divorced,primary,no,-70,yes,no,cellular,12,may,124,2,-1,0,unknown
31629,35,technician,single,tertiary,no,632,no,no,cellular,7,aug,141,1,-1,0,unknown
31630,36,management,single,tertiary,no,8,no,no,cellular,29,jul,858,7,-1,0,unknown
31631,46,entrepreneur,married,tertiary,no,341,no,no,unknown,19,jun,318,2,-1,0,unknown
31632,33,blue-collar,married,secondary,no,0,yes,no,unknown,21,may,521,3,-1,0,unknown
31633,50,technician,married,tertiary,no,3117,no,no,unknown,9,jun,174,1,-1,0,unknown
31634,30,technician,single,tertiary,no,432,yes,yes,unknown,3,jun,180,3,-1,0,unknown
31635,35,management,married,tertiary,no,4,no,no,cellular,1,sep,157,2,-1,0,unknown
31636,48,housemaid,married,primary,no,469,no,no,cellular,14,aug,103,2,-1,0,unknown
31637,44,technician,married,secondary,no,5163,no,no,cellular,11,aug,48,2,-1,0,unknown
31638,29,blue-collar,married,secondary,no,721,yes,no,cellular,23,jul,644,1,-1,0,unknown
31639,38,services,single,secondary,no,570,yes,no,unknown,5,may,75,2,-1,0,unknown
31640,43,management,single,secondary,no,2968,no,no,unknown,20,jun,30,4,-1,0,unknown
31641,37,technician,single,tertiary,no,1309,no,no,unknown,6,jun,442,2,-1,0,unknown
31642,29,management,single,tertiary,no,0,yes,no,cellular,12,may,116,2,-1,0,unknown
31643,53,management,divorced,tertiary,no,380,no,yes,cellular,5,jun,438,2,-1,0,unknown
31644,32,management,single,tertiary,no,312,no,no,cellular,7,aug,37,3,-1,0,unknown
31645,57,technician,married,secondary,no,225,yes,no,telephone,15,may,22,7,337,12,failure
31646,55,management,divorced,secondary,no,204,yes,no,cellular,11,jul,1973,2,-1,0,unknown